{{!-- Taken from first example of https://getbootstrap.com/docs/4.3/components/navbar/ --}}
<nav class="navbar navbar-dark navbar-expand-md">
  <a class="navbar-brand" href="#"><img src="img/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="{{#ifeq title 'About'}}active{{/ifeq}} nav-item"><a href="/about">Programs</a></li>
      <li class="{{#ifeq title 'Resources'}}active{{/ifeq}} nav-item"><a href="/resources">Merchants</a></li>
      <li class="{{#ifeq title 'Forum'}}active{{/ifeq}} nav-item"><a href="/forum">Coins</a></li>
      <li class="{{#ifeq title 'Forum'}}active{{/ifeq}} nav-item"><a href="/forum">Sign Up</a></li>
    </ul>
  </div>
</nav>

{{!-- <nav class="navbar navbar-default navbar-static-top">
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand"><img src="img/logo.png"></a>
  </div>
  <div id="navbar" class="navbar-collapse collapse" >
    <ul class="nav navbar-nav navbar-right">
      <li class="{{#ifeq title 'About'}}active{{/ifeq}}"><a href="/about">Programs</a></li>
      <li class="{{#ifeq title 'Resources'}}active{{/ifeq}}"><a href="/resources">Merchants</a></li>
      <li class="{{#ifeq title 'Forum'}}active{{/ifeq}}"><a href="/forum">Coins</a></li>
      <li class="{{#ifeq title 'Forum'}}active{{/ifeq}}"><a href="/forum">Sign Up</a></li>
    </ul>
  </div>
</nav> --}}
